In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv("./data.csv", encoding='gbk')
# 打印前几行查看数据
df.head()

,Unnamed: 0,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,20180507115231274000000023057383,卡号1,0.01,0.99,0,0.90,0.55,0.313,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,20180507121002192000000023073000,卡号1,0.02,0.94,2000,1.28,1.00,0.458,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,20180507125159718000000023114911,卡号1,0.04,0.96,0,1.00,1.00,0.114,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,20180507121358683000000388283484,卡号1,0.00,0.96,2000,0.13,0.57,0.777,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,20180507115448545000000388205844,卡号1,0.01,0.99,0,0.46,1.00,0.175,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [36]:
df.columns

Index(['Unnamed: 0', 'custid', 'trade_no', 'bank_card_no',
       'low_volume_percent', 'middle_volume_percent',
       'take_amount_in_later_12_month_highest',
       'trans_amount_increase_rate_lately', 'trans_activity_month',
       'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter',
       'trans_days_interval', 'regional_mobility', 'repayment_capability',
       'is_high_user', 'number_of_trans_from_2011', 'first_transaction_time',
       'historical_trans_amount', 'historical_trans_day', 'rank_trad_1_month',
       'trans_amount_3_month', 'avg_consume_less_12_valid_month', 'abs',
       'top_trans_count_last_1_month', 'avg_price_last_12_month',
       'avg_price_top_last_12_valid_month', 'reg_preference_for_trad',
       'trans_top_time_last_1_month', 'trans_top_time_last_6_month',
       'consume_top_time_last_1_month', 'consume_top_time_last_6_month',
       'cross_consume_count_last_1_month',
       'trans_fail_top_count_enum_last_1_month',
       'trans_fail_top_count_enum_last_6_month',
       'trans_fail_top_count_enum_last_12_month',
       'consume_mini_time_last_1_month',
       'max_cumulative_consume_later_1_month',
       'max_consume_count_later_6_month',
       'railway_consume_count_last_12_month',
       'pawns_auctions_trusts_consume_last_1_month',
       'pawns_auctions_trusts_consume_last_6_month',
       'jewelry_consume_count_last_6_month', 'status', 'source',
       'first_transaction_day', 'trans_day_last_12_month', 'id_name',
       'apply_score', 'apply_credibility', 'query_org_count',
       'query_finance_count', 'query_cash_count', 'query_sum_count',
       'latest_query_time', 'latest_one_month_apply',
       'latest_three_month_apply', 'latest_six_month_apply', 'loans_score',
       'loans_credibility_behavior', 'loans_count', 'loans_settle_count',
       'loans_overdue_count', 'loans_org_count_behavior',
       'consfin_org_count_behavior', 'loans_cash_count',
       'latest_one_month_loan', 'latest_three_month_loan',
       'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee',
       'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time',
       'loans_latest_time', 'loans_credit_limit', 'loans_credibility_limit',
       'loans_org_count_current', 'loans_product_count', 'loans_max_limit',
       'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility',
       'consfin_org_count_current', 'consfin_product_count',
       'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day',
       'loans_latest_day'],
      dtype='object')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4455 entries, 0 to 4753
Data columns (total 89 columns):
Unnamed: 0                                    4455 non-null int64
custid                                        4455 non-null int64
trade_no                                      4455 non-null object
bank_card_no                                  4455 non-null object
low_volume_percent                            4455 non-null float64
middle_volume_percent                         4455 non-null float64
take_amount_in_later_12_month_highest         4455 non-null int64
trans_amount_increase_rate_lately             4454 non-null float64
trans_activity_month                          4455 non-null float64
trans_activity_day                            4455 non-null float64
transd_mcc                                    4455 non-null float64
trans_days_interval_filter                    4449 non-null float64
trans_days_interval                           4455 non-null float64
regional_mobility                             4455 non-null float64
repayment_capability                          4455 non-null int64
is_high_user                                  4455 non-null int64
number_of_trans_from_2011                     4455 non-null float64
first_transaction_time                        4455 non-null float64
historical_trans_amount                       4455 non-null int64
historical_trans_day                          4455 non-null float64
rank_trad_1_month                             4455 non-null float64
trans_amount_3_month                          4455 non-null int64
avg_consume_less_12_valid_month               4455 non-null float64
abs                                           4455 non-null int64
top_trans_count_last_1_month                  4455 non-null float64
avg_price_last_12_month                       4455 non-null int64
avg_price_top_last_12_valid_month             4358 non-null float64
reg_preference_for_trad                       4455 non-null object
trans_top_time_last_1_month                   4449 non-null float64
trans_top_time_last_6_month                   4449 non-null float64
consume_top_time_last_1_month                 4449 non-null float64
consume_top_time_last_6_month                 4449 non-null float64
cross_consume_count_last_1_month              4068 non-null float64
trans_fail_top_count_enum_last_1_month        4442 non-null float64
trans_fail_top_count_enum_last_6_month        4442 non-null float64
trans_fail_top_count_enum_last_12_month       4442 non-null float64
consume_mini_time_last_1_month                4432 non-null float64
max_cumulative_consume_later_1_month          4455 non-null int64
max_consume_count_later_6_month               4449 non-null float64
railway_consume_count_last_12_month           4445 non-null float64
pawns_auctions_trusts_consume_last_1_month    4455 non-null int64
pawns_auctions_trusts_consume_last_6_month    4455 non-null int64
jewelry_consume_count_last_6_month            4445 non-null float64
status                                        4455 non-null int64
source                                        4455 non-null object
first_transaction_day                         4455 non-null float64
trans_day_last_12_month                       4455 non-null float64
id_name                                       4455 non-null object
apply_score                                   4429 non-null float64
apply_credibility                             4429 non-null float64
query_org_count                               4429 non-null float64
query_finance_count                           4429 non-null float64
query_cash_count                              4429 non-null float64
query_sum_count                               4429 non-null float64
latest_query_time                             4429 non-null object
latest_one_month_apply                        4429 non-null float64
latest_three_month_apply                      4429 non-null float64
latest_six_month_apply                        4429 non-null float64
loans_score                                   4455 non-null float64
loans_credibility_behavior                    4455 non-null float64
loans_count                                   4455 non-null float64
loans_settle_count                            4455 non-null float64
loans_overdue_count                           4455 non-null float64
loans_org_count_behavior                      4455 non-null float64
consfin_org_count_behavior                    4455 non-null float64
loans_cash_count                              4455 non-null float64
latest_one_month_loan                         4455 non-null float64
latest_three_month_loan                       4455 non-null float64
latest_six_month_loan                         4455 non-null float64
history_suc_fee                               4455 non-null float64
history_fail_fee                              4455 non-null float64
latest_one_month_suc                          4455 non-null float64
latest_one_month_fail                         4455 non-null float64
loans_long_time                               4455 non-null float64
loans_latest_time                             4455 non-null object
loans_credit_limit                            4455 non-null float64
loans_credibility_limit                       4455 non-null float64
loans_org_count_current                       4455 non-null float64
loans_product_count                           4455 non-null float64
loans_max_limit                               4455 non-null float64
loans_avg_limit                               4455 non-null float64
consfin_credit_limit                          4455 non-null float64
consfin_credibility                           4455 non-null float64
consfin_org_count_current                     4455 non-null float64
consfin_product_count                         4455 non-null float64
consfin_max_limit                             4455 non-null float64
consfin_avg_limit                             4455 non-null float64
latest_query_day                              4429 non-null float64
loans_latest_day                              4455 non-null float64
dtypes: float64(69), int64(13), object(7)
memory usage: 3.1+ MB

In [8]:
df.columns

Index(['Unnamed: 0', 'custid', 'trade_no', 'bank_card_no',
       'low_volume_percent', 'middle_volume_percent',
       'take_amount_in_later_12_month_highest',
       'trans_amount_increase_rate_lately', 'trans_activity_month',
       'trans_activity_day', 'transd_mcc', 'trans_days_interval_filter',
       'trans_days_interval', 'regional_mobility', 'student_feature',
       'repayment_capability', 'is_high_user', 'number_of_trans_from_2011',
       'first_transaction_time', 'historical_trans_amount',
       'historical_trans_day', 'rank_trad_1_month', 'trans_amount_3_month',
       'avg_consume_less_12_valid_month', 'abs',
       'top_trans_count_last_1_month', 'avg_price_last_12_month',
       'avg_price_top_last_12_valid_month', 'reg_preference_for_trad',
       'trans_top_time_last_1_month', 'trans_top_time_last_6_month',
       'consume_top_time_last_1_month', 'consume_top_time_last_6_month',
       'cross_consume_count_last_1_month',
       'trans_fail_top_count_enum_last_1_month',
       'trans_fail_top_count_enum_last_6_month',
       'trans_fail_top_count_enum_last_12_month',
       'consume_mini_time_last_1_month',
       'max_cumulative_consume_later_1_month',
       'max_consume_count_later_6_month',
       'railway_consume_count_last_12_month',
       'pawns_auctions_trusts_consume_last_1_month',
       'pawns_auctions_trusts_consume_last_6_month',
       'jewelry_consume_count_last_6_month', 'status', 'source',
       'first_transaction_day', 'trans_day_last_12_month', 'id_name',
       'apply_score', 'apply_credibility', 'query_org_count',
       'query_finance_count', 'query_cash_count', 'query_sum_count',
       'latest_query_time', 'latest_one_month_apply',
       'latest_three_month_apply', 'latest_six_month_apply', 'loans_score',
       'loans_credibility_behavior', 'loans_count', 'loans_settle_count',
       'loans_overdue_count', 'loans_org_count_behavior',
       'consfin_org_count_behavior', 'loans_cash_count',
       'latest_one_month_loan', 'latest_three_month_loan',
       'latest_six_month_loan', 'history_suc_fee', 'history_fail_fee',
       'latest_one_month_suc', 'latest_one_month_fail', 'loans_long_time',
       'loans_latest_time', 'loans_credit_limit', 'loans_credibility_limit',
       'loans_org_count_current', 'loans_product_count', 'loans_max_limit',
       'loans_avg_limit', 'consfin_credit_limit', 'consfin_credibility',
       'consfin_org_count_current', 'consfin_product_count',
       'consfin_max_limit', 'consfin_avg_limit', 'latest_query_day',
       'loans_latest_day'],
      dtype='object')

In [79]:
# 检查缺失值, 过滤
tmp = df.isnull().sum()
null_sum = tmp[ tmp > 0]
drop_col = list(null_sum[null_sum > 1000].index)
df.drop(drop_col, axis = 1,inplace = True)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [44]:
df = df[df.isnull().sum(axis=1)<30]

In [81]:
#缺失值填充，数值型采用均值，object后续处理
for k in df.columns:
    if df[k].dtype != "object":
        df[k].fillna(df[k].mean(), inplace=True)
    else:
        print(k)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

trade_no
bank_card_no
reg_preference_for_trad
source
id_name
latest_query_time
loans_latest_time

In [86]:
object_data = df[["trade_no","bank_card_no","reg_preference_for_trad","source","id_name","latest_query_time","loans_latest_time"]]
object_data

,trade_no,bank_card_no,reg_preference_for_trad,source,id_name,latest_query_time,loans_latest_time
0,20180507115231274000000023057383,卡号1,一线城市,xs,蒋红,2018-04-25,2018-04-19
1,20180507121002192000000023073000,卡号1,一线城市,xs,崔向朝,2018-05-03,2018-05-05
2,20180507125159718000000023114911,卡号1,一线城市,xs,王中云,2018-05-05,2018-05-01
3,20180507121358683000000388283484,卡号1,三线城市,xs,何洋洋,2018-05-05,2018-05-03
4,20180507115448545000000388205844,卡号1,一线城市,xs,赵洋,2018-04-15,2018-01-07
5,20180507121233054000000388275132,卡号1,三线城市,xs,刘成,2018-05-04,2018-05-03
6,20180507121931540000000388298915,卡号1,一线城市,xs,周雨浓,2018-05-06,2018-05-04
8,20180507115855621000000388224458,卡号1,三线城市,xs,周琰龙,2018-04-13,2018-04-30
9,20180504155156296000000021138084,卡号1,一线城市,xs,马晓辉,2018-04-16,2017-12-13
10,20180507123917136000000388381264,卡号1,一线城市,xs,冯子涵,2018-04-25,2018-04-28
11,20180507121556599000000023080022,卡号1,一线城市,xs,尚海,2018-04-06,2018-04-02
12,20180507114604230000000388176931,卡号1,三线城市,xs,何俊踊,2018-03-30,2018-05-01
13,20180507115807011000000388215609,卡号1,一线城市,xs,赵珊,2018-04-24,2018-04-28
14,20180507121351317000000388282601,卡号1,一线城市,xs,齐健,2018-04-21,2017-10-26
15,20180507120312643000000388240340,卡号1,一线城市,xs,覃杰脉,2018-05-03,2018-04-10
16,20180507115358209000000388203669,卡号1,境外,xs,周火文,2018-05-04,2018-05-06
17,20180507123013060000000388346445,卡号1,一线城市,xs,刘哲,2018-04-28,2018-04-30
18,20180507123317625000000388359399,卡号1,境外,xs,林森华,2018-04-11,2018-02-19
19,20180507122754609000000388339559,卡号1,一线城市,xs,王欢,2018-04-25,2018-03-31
20,20180507114736098000000388185623,卡号1,一线城市,xs,张霞,2018-05-04,2018-02-25
21,20180507122338228000000023086166,卡号1,一线城市,xs,徐翔,2018-04-30,2018-04-14
22,20180504181611848000000381832460,卡号1,境外,xs,陈鹏,2018-04-30,2018-05-03
23,20180507123855945000000388380951,卡号1,三线城市,xs,吴勤,2018-04-25,2018-04-28
24,20180507123355168000000388361170,卡号1,一线城市,xs,梁健,2018-04-23,2018-01-23
25,20180504162411113000000021172853,卡号1,境外,xs,张兵兵,2018-04-13,2018-02-11
26,20180507120445507000000388245413,卡号1,一线城市,xs,张奔驰,2018-04-27,2018-02-16
27,20180507123830326000000388380639,卡号1,三线城市,xs,段春红,2018-04-17,2018-05-01
28,20180507115610811000000388212340,卡号1,一线城市,xs,郑晓光,2018-05-02,2018-04-28
29,20180507123310399000000388357579,卡号1,一线城市,xs,谢志恒,NaN,2018-04-03
30,20180504175321798000000021271684,卡号1,三线城市,xs,马益兵,2017-12-03,2018-03-01
...,...,...,...,...,...,...,...
4723,20180507122430547000000388322931,卡号1,一线城市,xs,蔡豪杰,2018-04-10,2017-12-13
4724,20180507124934620000000388416059,卡号1,一线城市,xs,段宇佳,2018-04-16,2018-05-02
4725,20180507122940057000000388342910,卡号1,一线城市,xs,林峰华,2017-12-16,2018-01-27
4726,20180504162011976000000381367953,卡号1,境外,xs,赵发伟,2018-04-15,2018-03-12
4727,20180507114821935000000388187853,卡号1,一线城市,xs,何威,2018-04-09,2018-03-11
4728,20180507120905394000000023072119,卡号1,一线城市,xs,庞振宗,2018-04-19,2018-04-28
4729,20180507123942186000000388381507,卡号1,一线城市,xs,郭旭强,2018-05-04,2018-01-23
4730,20180507124818814000000388411045,卡号1,三线城市,xs,陈长城,2018-04-09,2017-12-30
4731,20180507123928918000000388381394,卡号1,三线城市,xs,罗森方,2018-05-05,2018-04-26
4732,20180507124249332000000388393507,卡号1,一线城市,xs,郑发春,2018-04-28,2017-08-30
4733,20180507114636248000000388181870,卡号1,二线城市,xs,孔迪俊,2018-04-23,2018-04-28
4734,20180507124936647000000388418873,卡号1,境外,xs,齐亚龙,2018-04-13,2017-12-27
4735,20180507121900401000000388295882,卡号1,一线城市,xs,魏欣旭,2018-05-05,2018-05-01
4736,20180507124233969000000023103541,卡号1,一线城市,xs,陈河根,2018-04-19,2017-12-02
4737,20180504170134092000000381539852,卡号1,一线城市,xs,黄彬彬,2018-05-03,2018-04-27
4738,20180507114726030000000023048892,卡号1,一线城市,xs,洪云飞,2018-03-20,2018-02-07
4739,20180504161419403000000381329175,卡号1,三线城市,xs,赵明,2018-04-22,2018-04-25
4740,20180507115324523000000388201054,卡号1,一线城市,xs,余孝意,2018-04-06,2017-11-25
4741,20180504183705135000000381895535,卡号1,一线城市,xs,潘培星,2018-04-25,2017-12-15
4742,20180507125018925000000023111153,卡号1,一线城市,xs,冯永,2018-05-03,2018-05-03
4743,20180504170654830000000381561522,卡号1,三线城市,xs,肖杰,2018-04-23,2018-04-22
4744,20180507115029481000000388194850,卡号1,一线城市,xs,李宇阳,2018-05-02,2018-02-08
4745,20180507123619864000000388369012,卡号1,三线城市,xs,孟祥彬,2018-05-06,2018-04-29
4747,20180507123811494000000388377504,卡号1,境外,xs,鄞佳旺,2018-05-06,2018-04-15
4748,20180507121025853000000388266701,卡号1,一线城市,xs,王成,2018-04-02,2018-03-14
4749,20180507120519228000000388247328,卡号1,一线城市,xs,王贤涛,2018-03-24,2018-03-10
4750,20180507114937914000000388192877,卡号1,一线城市,xs,胡晓歆宇,2018-04-20,2018-03-13
4751,20180507121340509000000388278785,卡号1,一线城市,xs,赵吉伟,2018-04-19,2018-03-13
4752,20180504161827128000000381357758,卡号1,一线城市,xs,罗松,2018-03-10,2018-04-18
4753,20180507124243041000000388391027,卡号1,一线城市,xs,李俊,2018-04-17,2018-03-14

In [87]:
object_data.describe()

,trade_no,bank_card_no,reg_preference_for_trad,source,id_name,latest_query_time,loans_latest_time
count,4455,4455,4455,4455,4455,4429,4455
unique,4455,1,5,1,4286,206,232
top,20180504170227431000000381547209,卡号1,一线城市,xs,张龙,2018-04-14,2018-05-03
freq,1,4455,3189,4455,5,422,134

In [89]:
df.drop(["trade_no", "bank_card_no", "source", "id_name"], axis = 1,inplace = True)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [93]:
set(df["reg_preference_for_trad"])

{'一线城市', '三线城市', '二线城市', '其他城市', '境外'}